body {
  height: 100vh;
  width: 100vw;
  background-color: #008cbb;
  margin: 0;
}
#game {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
canvas {
  image-rendering: crisp-edges;
}
